/*  Modern CSS reset - https://piccalil.li/blog/a-modern-css-reset/ */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
/* Source: https://github.com/h5bp/html5-boilerplate/blob/main/dist/css/style.css */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/**
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/**
 * DISCLAIMER!
 * I had added some changes based on my preference.
 * This is not the original styling!
 */
/**
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 */
::selection {
  text-shadow: none;
}

/**
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Remove default fieldset styles.
 */
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

/**
 * Don't allow horizontal resizing of textareas.
 */
textarea {
  resize: vertical;
}

:root {
  --peach: hsl(11deg 73% 66%);
  --light-grayish-peach: hsl(14deg 76% 97%);
  --black: hsl(270deg 3% 11%);
  --white: hsl(0deg 0% 100%);
  --light-peach: hsl(11deg 100% 80%);
  --dark-grey: hsl(264deg 5% 20%);
  --light-grey: hsl(210deg 17% 95%);
  --fluid-typography-100: clamp(1.75rem, calc(1.52rem + 1.17vw), 2.5rem);
  --fluid-typography-200: clamp(2rem, calc(1.69rem + 1.55vw), 3rem);
  --space-3xs: clamp(0.63rem, calc(-1.03rem + 8.25vw), 5.94rem);
  --space-2xs: clamp(1.5rem, calc(1.19rem + 1.55vw), 2.5rem);
  --space-xs: clamp(1.5rem, calc(0.12rem + 6.89vw), 5.94rem);
  --space-s: clamp(2.19rem, calc(1.62rem + 2.82vw), 4rem);
  --space-m: clamp(3.56rem, calc(3.43rem + 0.68vw), 4rem);
  --space-l: clamp(5rem, calc(3.74rem + 6.31vw), 9.06rem);
  --space-xl: clamp(7.5rem, calc(6.72rem + 3.88vw), 10rem);
  --transition-base: 200ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  background-repeat: no-repeat;
  padding: 0;
}

::selection {
  background-color: var(--selection-background-color, var(--black));
  color: var(--selection-text-color, var(--white));
}

:focus {
  outline: 0.1875rem solid var(--focus-outline-color, var(--black));
  outline-offset: 0.3125rem;
}

/**
 * To hide content visually.
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

body {
  color: var(--black);
  line-height: 1.625;
  font-family: Jost, sans-serif;
}

body.is-menu-open {
  overflow: hidden;
}

body.is-menu-open::before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  content: "";
}

.font-weight-700 {
  font-weight: 700;
}

h1,
h2,
h3,
.heading {
  font-weight: 500;
}

h1,
.heading--one {
  font-size: var(--fluid-typography-200);
  line-height: 1;
}

h2,
.heading--two {
  font-size: var(--fluid-typography-100);
  line-height: 1.2;
  letter-spacing: 0.05em;
}

h3,
.heading--three {
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

p:not([class]),
[class$="description"] {
  margin-right: auto;
  margin-left: auto;
  max-width: 27.8125rem;
}
@media screen and (min-width: 59.375em) {
  p:not([class]),
  [class$="description"] {
    margin-right: initial;
    margin-left: initial;
  }
}

p span {
  display: block;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

main:focus {
  outline: none;
}

.flow > * + * {
  margin-top: var(--spacer, var(--space-xl));
}

/**
 * 1. Remove the border on images inside links in IE 10.
 */
img,
picture {
  display: block;
  border-style: none; /* 1 */
  max-width: 100%;
}

img {
  height: auto;
}

/** 
 * Avoid overloading a user with 
 * sound from a video that 
 * autoplays when the page is loaded.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#hide-autoplay-videos-that-arent-muted
 */
video[autoplay]:not([muted]) {
  display: none;
}

/**
 * Set font-size on Form Elements for a 
 * Better Mobile Experience
 *
 * To avoid mobile browsers (iOS Safari,
 * et al.) from zooming in on HTML form 
 * elements when a <select> drop-down is
 * tapped, add font-size to the selector
 * rule.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#set-font-size-on-form-elements-for-a-better-mobile-experience
 */
input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 1rem;
}

button[type] {
  cursor: pointer;
}

/**
 * 1. Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; /* 1 */
  color: inherit;
  letter-spacing: 0.125em;
  text-decoration-color: transparent;
}

a span {
  display: block;
}

button[type="button"],
button[type="submit"],
a {
  text-transform: uppercase;
}

svg {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  overflow: hidden;
}

/** 
 * Inherit the color 
 */
svg path {
  fill: currentColor;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

audio:not([controls]) {
  display: none;
}

[inert] {
  cursor: default;
  pointer-events: none;
}

[inert],
[inert] * {
  user-select: none;
}

.skip-content {
  display: inline-block;
  position: fixed;
  top: 3rem;
  left: 0;
  transform: translateX(-200%);
  z-index: 200;
  background-color: var(--dark-grey);
  padding: 1em 2em;
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: 0.1em solid;
}
@media (prefers-reduced-motion: no-preference) {
  .skip-content {
    transition: transform var(--transition-base);
  }
}

.skip-content:focus,
.skip-content:focus-visible {
  transform: translate(0);
  outline: 0.2em solid var(--peach);
  outline-offset: 0.25em;
}

/**
 * * INFO: container max-width = 1110 + (padding-left + padding-right)
 */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 72.375rem;
}

.container--padding {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media screen and (min-width: 42.5em) {
  .container--padding\@tiny {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.card {
  display: block;
  overflow: hidden;
}

.card--rounded {
  border-radius: 0.9375rem;
}

@media screen and (min-width: 42.5em) {
  .card--rounded\@tiny {
    border-radius: 0.9375rem;
  }
}

.card--peach {
  background-color: var(--peach);
  color: var(--white);
}

.card--light-grayish-peach {
  background-color: var(--light-grayish-peach);
  color: var(--dark-grey);
}

.button {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  letter-spacing: 0.0625em;
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  .button {
    transition: background-color var(--transition-base),
      color var(--transition-base);
  }
}

.button--white {
  background-color: var(--white);
  color: var(--dark-grey);
}

.button--peach {
  background-color: var(--peach);
  color: var(--white);
}

@media (hover: none) {
  .button--peach,
  .button--white {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .button--peach:active,
  .button--white:active {
    background-color: var(--light-peach);
    color: var(--white);
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .button--peach:hover,
  .button--white:hover {
    background-color: var(--light-peach);
    color: var(--white);
  }
}

.circle {
  position: relative;
}

.circle::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("/svg/bg-pattern-small-circle.svg");
  background-position: top left;
  width: 100%;
  height: 100%;
  content: "";
}

.circle--rotate-275deg::after {
  transform: rotate(275deg);
}

.circle--rotate-90deg::after {
  transform: rotate(90deg);
}

@media screen and (min-width: 59.375em) {
  .wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 90rem;
  }
}

@media screen and (min-width: 59.375em) {
  .wrapper::after,
  .wrapper::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("/svg/bg-pattern-leaf.svg");
    width: 100%;
    height: 100%;
    content: "";
  }
}

.wrapper--home::after,
.wrapper--home::before {
  background-position: top 19.375rem left;
}

.wrapper--home::before {
  transform: rotate(180deg);
}

.wrapper--design-page::after {
  background-position: top 8.4375rem left;
}

.wrapper--design-page::before {
  display: none;
}

.wrapper--contact::after {
  top: 10rem;
  background-position: bottom -8.75rem right;
}

.wrapper--contact::before {
  display: none;
}

.wrapper--about::after {
  background-position: top 20rem left;
}

.wrapper--about::before {
  background-position: bottom 57rem right -24.75rem;
}

.header {
  position: relative;
  z-index: 2;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.header__menu-button {
  display: inline-block;
  border: none;
  background-color: transparent;
  width: 2.75rem;
  height: 2.75rem;
}
@media screen and (min-width: 42.5em) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button[aria-expanded="true"] ~ .header__list {
  transform: translate(0);
  visibility: visible;
}

.header__icon {
  width: 100%;
}

.header__list {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  visibility: hidden;
  z-index: -1;
  background-color: var(--dark-grey);
  padding: 11.25rem 1.5rem 3rem;
  width: 100%;
  color: var(--white);
  list-style: none;
}
@media (prefers-reduced-motion: no-preference) {
  .header__list {
    transition: visibility var(--transition-base),
      transform var(--transition-base);
  }
}
@media screen and (min-width: 42.5em) {
  .header__list {
    display: flex;
    position: initial;
    transform: initial;
    visibility: visible;
    background-color: initial;
    padding: 0;
    color: var(--black);
  }
}

.header__item:not(:first-child) {
  margin-top: 2rem;
}
@media screen and (min-width: 42.5em) {
  .header__item:not(:first-child) {
    margin-top: 0;
    margin-left: 2.625rem;
  }
}

.header__link {
  --focus-outline-color: var(--white);
  font-size: 1.5rem;
}
@media (hover: none) {
  .header__link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .header__link:active {
    text-decoration: underline;
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .header__link:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 42.5em) {
  .header__link {
    --focus-outline-color: var(--black);
    font-size: inherit;
  }
}

.no-js .header__container {
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 42.5em) {
  .no-js .header__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.no-js .header__menu-button {
  display: none;
}

.no-js .header__list {
  display: flex;
  position: initial;
  flex-wrap: wrap;
  transform: initial;
  visibility: visible;
  margin-top: 1.875rem;
  background-color: initial;
  padding: 0;
  color: var(--black);
}
@media screen and (min-width: 42.5em) {
  .no-js .header__list {
    margin-top: 0;
  }
}

.no-js .header__item {
  margin-top: 0;
  margin-left: 1.875rem;
}

.no-js .header__link {
  --focus-outline-color: var(--black);
  font-size: inherit;
}

.hero__card {
  background-image: url("/svg/bg-pattern-hero-home.svg"),
    url("/images/home/image-hero-phone.png");
  background-position: center left, bottom -26.5625rem center;
  padding: var(--space-l) var(--space-3xs) 28.5625rem;
  text-align: center;
}
@media screen and (min-width: 59.375em) {
  .hero__card {
    background-position: center right, bottom -15.3125rem right -6rem;
    padding-bottom: var(--space-l);
    text-align: left;
  }
}

@media screen and (min-width: 59.375em) {
  .hero__container {
    max-width: 31.25rem;
  }
}

.hero__description {
  margin-top: 1.625rem;
  margin-bottom: var(--space-2xs);
}

@media screen and (min-width: 59.375em) {
  .links {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }
}

@media screen and (min-width: 59.375em) {
  .links--flex {
    display: flex;
  }
}

@media screen and (min-width: 59.375em) {
  .links--flex > * {
    flex-basis: 100%;
  }
}

.links__item:not(:first-child) {
  margin-top: 1.5rem;
}
@media screen and (min-width: 59.375em) {
  .links__item:not(:first-child) {
    margin-top: 0;
  }
}

.links__item:first-child {
  grid-row: 1/3;
}

.links__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-color: hsla(0deg, 0%, 0%, 0.6);
  background-blend-mode: overlay;
  padding: 5.625rem 1rem;
  height: 100%;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.3125em;
  text-align: center;
  text-transform: uppercase;
}
@media (prefers-reduced-motion: no-preference) {
  .links__card {
    transition: background-color var(--transition-base);
  }
}
@media (hover: none) {
  .links__card {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .links__card:active {
    background-color: hsla(11deg, 73%, 66%, 0.6);
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .links__card:hover {
    background-color: hsla(11deg, 73%, 66%, 0.6);
  }
}

.links__card--web-design {
  background-image: url("/images/home/mobile/image-web-design.jpg");
}
@media screen and (min-width: 42.5em) {
  .links__card--web-design {
    background-image: url("/images/home/tablet/image-web-design.jpg");
  }
}
@media screen and (min-width: 59.375em) {
  .links__card--web-design {
    background-image: url("/images/home/desktop/image-web-design-large.jpg");
  }
}

@media screen and (min-width: 59.375em) {
  .links__card--web-design-small {
    background-image: url("/images/home/desktop/image-web-design-small.jpg");
  }
}

.links__card--app-design {
  background-image: url("/images/home/mobile/image-app-design.jpg");
}
@media screen and (min-width: 42.5em) {
  .links__card--app-design {
    background-image: url("/images/home/tablet/image-app-design.jpg");
  }
}
@media screen and (min-width: 59.375em) {
  .links__card--app-design {
    background-image: url("/images/home/desktop/image-app-design.jpg");
  }
}

.links__card--graphic-design {
  background-image: url("/images/home/mobile/image-graphic-design.jpg");
}
@media screen and (min-width: 42.5em) {
  .links__card--graphic-design {
    background-image: url("/images/home/tablet/image-graphic-design.jpg");
  }
}
@media screen and (min-width: 59.375em) {
  .links__card--graphic-design {
    background-image: url("/images/home/desktop/image-graphic-design.jpg");
  }
}

.links__heading {
  margin-bottom: 1.5rem;
}

.links__icon {
  display: inline;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
}
@media screen and (min-width: 42.5em) {
  .features {
    gap: 1.875rem;
    text-align: left;
  }
}
@media screen and (min-width: 59.375em) {
  .features {
    flex-direction: row;
    text-align: center;
  }
}

.features__item {
  display: grid;
  flex-grow: 1;
  justify-items: center;
}
@media screen and (min-width: 42.5em) {
  .features__item {
    grid-template-columns: minmax(12.5rem, 25%) 1fr;
    align-items: center;
  }
}
@media screen and (min-width: 59.375em) {
  .features__item {
    grid-template-columns: initial;
  }
}

@media screen and (min-width: 42.5em) {
  .features__container {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 59.375em) {
  .features__container {
    margin-left: 0;
  }
}

.features__title {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 42.5em) {
  .features__title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 59.375em) {
  .features__title {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.call-to-action__card {
  background-image: url("/svg/bg-pattern-call-to-action.svg");
  background-position: center right;
  background-repeat: repeat-y;
  padding: var(--space-m) var(--space-xs);
  text-align: center;
}
@media screen and (min-width: 59.375em) {
  .call-to-action__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.call-to-action__container {
  flex-shrink: 1;
  flex-basis: 28.125rem;
}

.call-to-action__title {
  margin-right: auto;
  margin-left: auto;
  max-width: 18.75rem;
}
@media screen and (min-width: 59.375em) {
  .call-to-action__title {
    margin-right: initial;
    margin-left: initial;
  }
}

.call-to-action__description {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 59.375em) {
  .call-to-action__description {
    margin-bottom: 0;
  }
}

.champion__card {
  background-image: url("/svg/bg-pattern-design-pages-intro-mobile.svg");
  background-position: top right;
  padding: var(--space-m) var(--space-xs);
}
@media screen and (min-width: 42.5em) {
  .champion__card {
    background-image: url("/svg/bg-pattern-design-pages-intro-tablet.svg");
    background-repeat: repeat-y;
  }
}

@media screen and (min-width: 42.5em) {
  .champion__card--web-design\@tiny {
    background-image: url("/svg/bg-pattern-intro-web.svg");
  }
}

@media screen and (min-width: 42.5em) {
  .champion__card--app-design\@tiny {
    background-image: url("/svg/bg-pattern-intro-app.svg");
  }
}

@media screen and (min-width: 42.5em) {
  .champion__card--graphic-design\@tiny {
    background-image: url("/svg/bg-pattern-intro-graphic.svg");
  }
}

@media screen and (min-width: 42.5em) {
  .champion__card--background-center-right\@tiny {
    background-position: center right;
  }
}

@media screen and (min-width: 42.5em) {
  .champion__card--background-center-left\@tiny {
    background-position: center left;
  }
}

.champion__container {
  margin-right: auto;
  margin-left: auto;
  max-width: 25rem;
  text-align: center;
}

.champion__description {
  margin-top: 1.5rem;
}

.projects {
  max-width: 25rem;
}
@supports (display: grid) {
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(21.875rem, 100%), 1fr));
    gap: 1.875rem;
    max-width: 72.375rem;
  }
}

.projects > * + * {
  margin-top: 2.5rem;
}
@supports (display: grid) {
  .projects > * + * {
    margin-top: unset;
  }
}

@supports (display: grid) {
  .projects__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(18.75rem, 100%), 1fr));
  }
}
@media (prefers-reduced-motion: no-preference) {
  .projects__card {
    transition: background-color var(--transition-base),
      color var(--transition-base);
  }
}
@media (hover: none) {
  .projects__card {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .projects__card:active {
    background-color: var(--peach);
    color: var(--white);
  }
  .projects__card:active .projects__title {
    color: inherit;
  }
  .projects__card:active .projects__image {
    transform: scale(1.025);
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .projects__card:hover {
    background-color: var(--peach);
    color: var(--white);
  }
  .projects__card:hover .projects__title {
    color: inherit;
  }
  .projects__card:hover .projects__image {
    transform: scale(1.025);
  }
}

.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.projects__image {
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .projects__image {
    transition: transform var(--transition-base);
  }
}

.projects__title {
  margin-bottom: 0.9375rem;
  color: var(--peach);
}

.projects__description {
  text-transform: none;
}

.about__card {
  background-image: url("/svg/bg-pattern-hero-about-mobile.svg");
  background-position: top 11.5625rem right;
  text-align: center;
}
@media screen and (min-width: 59.375em) {
  .about__card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-image: url("/svg/bg-pattern-hero-about-desktop.svg");
    background-position: top -10.3125rem left;
    text-align: left;
  }
}

.about__container {
  --spacer: 1.5rem;
  padding: 5rem var(--space-xs);
}

.about__image {
  width: 100%;
}

.information:nth-of-type(2) {
  margin-top: 0;
}
@media screen and (min-width: 42.5em) {
  .information:nth-of-type(2) {
    margin-top: var(--space-xl);
  }
}

.information__card {
  background-image: url("/svg/bg-pattern-three-circles.svg");
  background-position: bottom left;
  text-align: center;
}
@media screen and (min-width: 59.375em) {
  .information__card {
    display: flex;
    align-items: center;
    background-position: bottom left 20.625rem;
    text-align: left;
  }
}

@media screen and (min-width: 59.375em) {
  .information__card--row-reverse {
    flex-direction: row-reverse;
    background-image: url("/svg/bg-pattern-two-circles.svg");
    background-position: bottom left;
  }
}

.information__container {
  --spacer: 1.5rem;
  padding: 5rem var(--space-xs);
}

.information__image {
  width: 100%;
}

.information__title {
  color: var(--peach);
}

.area {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 59.375em) {
  .area {
    flex-direction: row;
    justify-content: space-between;
  }
}

.area__item {
  display: flex;
  flex-grow: 1;
  flex-basis: 21.875rem;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.area__item:not(:first-child) {
  margin-top: 1.875rem;
}
@media screen and (min-width: 59.375em) {
  .area__item:not(:first-child) {
    margin-top: 0;
    margin-left: 1.875rem;
  }
}

.area__title {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.locations {
  --spacer: 2.5rem;
}
@media screen and (min-width: 42.5em) {
  .locations {
    --spacer: 7.5rem;
  }
}
@media screen and (min-width: 59.375em) {
  .locations {
    --spacer: 1.875rem;
  }
}

.locations__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 42.5em) {
  .locations__container {
    gap: 1.875rem;
  }
}
@media screen and (min-width: 59.375em) {
  .locations__container {
    flex-direction: row;
  }
}

@media screen and (min-width: 59.375em) {
  .locations__container--row-reverse\@very-small {
    flex-direction: row-reverse;
  }
}

.locations__map {
  width: 100%;
}

.locations__card {
  display: grid;
  gap: 1.5rem;
  background-image: url("/svg/bg-pattern-two-circles.svg");
  background-position: bottom left;
  padding: 5rem var(--space-xs);
  text-align: center;
}
@media screen and (min-width: 42.5em) {
  .locations__card {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}
@media screen and (min-width: 59.375em) {
  .locations__card {
    flex-grow: 1;
  }
}

.locations__title {
  color: var(--peach);
}
@media screen and (min-width: 42.5em) {
  .locations__title {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 42.5em) {
  .locations__description {
    margin-right: 0;
    margin-left: 0;
  }
}

.contact__card {
  background-image: url("/svg/bg-pattern-hero-contact-mobile.svg");
  background-position: top left;
  padding: 3.125rem var(--space-xs);
}
@media screen and (min-width: 59.375em) {
  .contact__card {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    background-image: url("/svg/bg-pattern-hero-desktop.svg");
    background-position: top -10rem left;
  }
}

.contact__container {
  text-align: center;
}
@media screen and (min-width: 42.5em) {
  .contact__container {
    flex-basis: 100%;
    text-align: left;
  }
}

.contact__description {
  margin-top: 2rem;
}
@media screen and (min-width: 42.5em) {
  .contact__description {
    margin-right: 0;
    margin-left: 0;
  }
}

.contact__form {
  --spacer: 1.5rem;
  margin-top: 2.5rem;
}
@media screen and (min-width: 59.375em) {
  .contact__form {
    flex-basis: 100%;
    margin-top: 0;
  }
}

.contact__form-control {
  position: relative;
}

.contact__input {
  display: block;
  border: none;
  border-bottom: 0.0625rem solid var(--white);
  background-color: transparent;
  padding-right: 1rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  width: 100%;
  color: inherit;
  font-weight: 500;
}

.contact__input.is-invalid {
  background-image: url("/svg/icon-error.svg");
  background-position: top right 1rem;
}

.contact__input:focus {
  border-bottom-width: 0.1875rem;
}

.contact__input::placeholder {
  opacity: 0.5;
  color: inherit;
}

.contact__alert {
  margin-left: 1rem;
  font-style: italic;
}

.contact__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 42.5em) {
  .contact__button {
    margin-right: 0;
  }
}

.footer {
  --focus-outline-color: var(--white);
  --selection-background-color: var(--white);
  --selection-text-color: var(--black);
  position: relative;
  background-color: var(--black);
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  color: var(--white);
}

.footer::after {
  display: block;
  position: absolute;
  top: -9rem;
  left: 0;
  z-index: -1;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  content: "";
}

.footer--no-call-to-action {
  margin-top: var(--space-xl);
}

.footer--no-call-to-action::after {
  display: none;
}

.footer__container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 42.5em) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo navigation navigation" "address contact social";
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.625rem;
    text-align: left;
  }
}

.footer__line::before {
  display: block;
  position: absolute;
  top: 3.75rem;
  left: 0;
  opacity: 0.1;
  background-color: var(--white);
  width: 100%;
  height: 0.0625rem;
  content: "";
}

.footer__home {
  grid-area: logo;
  margin-bottom: 4.0625rem;
  width: fit-content;
}

.footer__navigation {
  grid-area: navigation;
  justify-self: flex-end;
}

@media screen and (min-width: 42.5em) {
  .footer__list {
    display: flex;
  }
}

.footer__item:not(:first-child) {
  margin-top: 2rem;
}
@media screen and (min-width: 42.5em) {
  .footer__item:not(:first-child) {
    margin-top: 0;
    margin-left: 2.625rem;
  }
}

@media (hover: none) {
  .footer__link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .footer__link:active {
    text-decoration: underline;
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .footer__link:hover {
    text-decoration: underline;
  }
}

.footer__address {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 42.5em) {
  .footer__address {
    grid-area: address;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer__contact {
  grid-area: contact;
}

.footer__address,
.footer__contact {
  opacity: 0.5;
}

.footer__social-media {
  margin-top: 2.5rem;
}
@media screen and (min-width: 42.5em) {
  .footer__social-media {
    display: flex;
    grid-area: social;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 0;
  }
}

/**
 * 1. Make the outline square
 */
.footer__external-link {
  display: inline-block; /* 1 */
  color: var(--peach);
}
@media (prefers-reduced-motion: no-preference) {
  .footer__external-link {
    transition: color var(--transition-base);
  }
}
@media (hover: none) {
  .footer__external-link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .footer__external-link:active {
    color: var(--light-peach);
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .footer__external-link:hover {
    color: var(--light-peach);
  }
}

.footer__external-link:not(:first-child) {
  margin-left: 1rem;
}

.attribution {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.attribution__description {
  margin-right: 0;
  margin-left: 0;
  max-width: 100%;
}

.attribution__link {
  letter-spacing: 0;
  text-decoration: underline 0.1em solid;
  text-underline-offset: 0.1em;
  text-transform: none;
}
@media (hover: none) {
  .attribution__link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .attribution__link:active {
    text-decoration: none;
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .attribution__link:hover {
    text-decoration: none;
  }
}
