@use "../abstracts" as *;

.call-to-action__card {
  background-image: url("/svg/bg-pattern-call-to-action.svg");
  background-position: center right;
  background-repeat: repeat-y;
  padding: var(--space-m) var(--space-xs);
  text-align: center;

  @include breakpoint-up("very-small") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.call-to-action__container {
  flex-shrink: 1;
  flex-basis: rem(450);
}

.call-to-action__title {
  margin-right: auto;
  margin-left: auto;
  max-width: rem(300);

  @include breakpoint-up("very-small") {
    margin-right: initial;
    margin-left: initial;
  }
}

.call-to-action__description {
  margin-top: rem(16);
  margin-bottom: rem(32);

  @include breakpoint-up("very-small") {
    margin-bottom: 0;
  }
}
