@use "../abstracts" as *;

.champion__card {
  background-image: url("/svg/bg-pattern-design-pages-intro-mobile.svg");
  background-position: top right;
  padding: var(--space-m) var(--space-xs);

  @include breakpoint-up("tiny") {
    background-image: url("/svg/bg-pattern-design-pages-intro-tablet.svg");
    background-repeat: repeat-y;
  }
}

.champion__card--web-design\@tiny {
  @include breakpoint-up("tiny") {
    background-image: url("/svg/bg-pattern-intro-web.svg");
  }
}

.champion__card--app-design\@tiny {
  @include breakpoint-up("tiny") {
    background-image: url("/svg/bg-pattern-intro-app.svg");
  }
}

.champion__card--graphic-design\@tiny {
  @include breakpoint-up("tiny") {
    background-image: url("/svg/bg-pattern-intro-graphic.svg");
  }
}

.champion__card--background-center-right\@tiny {
  @include breakpoint-up("tiny") {
    background-position: center right;
  }
}

.champion__card--background-center-left\@tiny {
  @include breakpoint-up("tiny") {
    background-position: center left;
  }
}

.champion__container {
  margin-right: auto;
  margin-left: auto;
  max-width: rem(400);
  text-align: center;
}

.champion__description {
  margin-top: rem(24);
}
