@use "../abstracts" as *;

@mixin features-title-vertical-space {
  margin-top: rem(48);
  margin-bottom: rem(32);
}

.features {
  display: flex;
  flex-direction: column;
  gap: rem(80);
  text-align: center;

  @include breakpoint-up("tiny") {
    gap: rem(30);
    text-align: left;
  }

  @include breakpoint-up("very-small") {
    flex-direction: row;
    text-align: center;
  }
}

.features__item {
  display: grid;
  flex-grow: 1;
  justify-items: center;

  @include breakpoint-up("tiny") {
    grid-template-columns: minmax(rem(200), 25%) 1fr;
    align-items: center;
  }

  @include breakpoint-up("very-small") {
    grid-template-columns: initial;
  }
}

.features__image {
  position: relative;
}

.features__image::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("/svg/bg-pattern-small-circle.svg");
  background-position: top left;
  width: 100%;
  height: 100%;
  content: "";
}

.features__image--rotate-275deg::after {
  transform: rotate(275deg);
}

.features__image--rotate-90deg::after {
  transform: rotate(90deg);
}

.features__container {
  @include breakpoint-up("tiny") {
    margin-left: rem(48);
  }

  @include breakpoint-up("very-small") {
    margin-left: 0;
  }
}

.features__title {
  @include features-title-vertical-space;

  @include breakpoint-up("tiny") {
    margin-top: 0;
    margin-bottom: rem(16);
  }

  @include breakpoint-up("very-small") {
    @include features-title-vertical-space;
  }
}
