@use "../abstracts" as *;

.footer {
  position: relative;
  background-color: var(--black);
  padding-bottom: rem(72);
  color: var(--white);
}

.footer *:focus {
  @include focus(var(--white));
}

.footer ::selection {
  background-color: var(--white);
  color: var(--black);
}

.footer::after {
  display: block;
  position: absolute;
  top: rem(-144);
  left: 0;
  z-index: -1;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  content: "";
}

.footer__container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include breakpoint-up("tiny") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "logo navigation navigation"
      "address contact social";
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(10);
    text-align: left;
  }
}

.footer__line::before {
  display: block;
  position: absolute;
  top: rem(60);
  left: 0;
  opacity: 0.1;
  background-color: var(--white);
  width: 100%;
  height: rem(1);
  content: "";
}

.footer__home {
  grid-area: logo;
  margin-bottom: rem(65);
  width: fit-content;
}

.footer__navigation {
  grid-area: navigation;
  justify-self: flex-end;
}

.footer__list {
  @include breakpoint-up("tiny") {
    display: flex;
  }
}

.footer__item:not(:first-child) {
  margin-top: rem(32);

  @include breakpoint-up("tiny") {
    margin-top: 0;
    margin-left: rem(42);
  }
}

.footer__link {
  @include hover {
    text-decoration: underline;
  }
}

.footer__address {
  margin-top: rem(40);
  margin-bottom: rem(40);

  @include breakpoint-up("tiny") {
    grid-area: address;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer__contact {
  grid-area: contact;
}

.footer__address span,
.footer__contact span {
  display: block;
}

.footer__address,
.footer__contact {
  opacity: 0.5;
}

.footer__social-media {
  margin-top: rem(40);

  @include breakpoint-up("tiny") {
    display: flex;
    grid-area: social;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 0;
  }
}

/**
 * 1. Make the outline square
 */

.footer__external-link {
  display: inline-block; /* 1 */
  color: var(--peach);

  @include prefers-motion {
    transition: color var(--transition-base);
  }

  @include hover {
    color: var(--light-peach);
  }
}

.footer__external-link:not(:first-child) {
  margin-left: rem(16);
}
