@use "../abstracts" as *;

.information:nth-of-type(2) {
  margin-top: 0;

  @include breakpoint-up("tiny") {
    margin-top: var(--space-xl);
  }
}

.information__card {
  background-image: url("/svg/bg-pattern-three-circles.svg");
  background-position: bottom left;
  text-align: center;

  @include breakpoint-up("very-small") {
    display: flex;
    align-items: center;
    background-position: bottom left rem(330);
    text-align: left;
  }
}

.information__card--row-reverse {
  @include breakpoint-up("very-small") {
    flex-direction: row-reverse;
    background-image: url("/svg/bg-pattern-two-circles.svg");
    background-position: bottom left;
  }
}

.information__container {
  --spacer: #{rem(24)};

  padding: rem(80) var(--space-xs);
}

.information__image {
  width: 100%;
}

.information__title {
  color: var(--peach);
}
