@use "../abstracts" as *;

.links {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);

  @include breakpoint-up("very-small") {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30);
  }
}

.links__heading {
  display: block;
  margin-bottom: rem(24);
}

.links__icon {
  display: inline;
}

.links__card:not(:first-child) {
  margin-top: rem(24);

  @include breakpoint-up("very-small") {
    margin-top: 0;
  }
}

.links__card:first-child {
  grid-row: 1 / 3;
}
