@use "../abstracts" as *;

.locations {
  --spacer: #{rem(40)};

  @include breakpoint-up("tiny") {
    --spacer: #{rem(120)};
  }

  @include breakpoint-up("very-small") {
    --spacer: #{rem(30)};
  }
}

/**
 * 1. Move the interactive map below the
 *    mobile navigation.
 */
.locations__container {
  display: flex;
  position: relative; /* 1 */
  flex-direction: column;
  z-index: -1; /* 1 */

  @include breakpoint-up("tiny") {
    gap: rem(30);
  }

  @include breakpoint-up("very-small") {
    flex-direction: row;
  }
}

.locations__container picture.is-hidden {
  visibility: hidden;
}

.locations__container--row-reverse\@very-small {
  @include breakpoint-up("very-small") {
    flex-direction: row-reverse;
  }
}

.locations__map {
  width: 100%;
}

.locations__card {
  display: grid;
  gap: rem(24);
  background-image: url("/svg/bg-pattern-two-circles.svg");
  background-position: bottom left;
  padding: rem(80) var(--space-xs);
  text-align: center;

  @include breakpoint-up("tiny") {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  @include breakpoint-up("very-small") {
    flex-grow: 1;
  }
}

.locations__title {
  color: var(--peach);

  @include breakpoint-up("tiny") {
    grid-column: 1 / 3;
  }
}

.locations__description {
  @include breakpoint-up("tiny") {
    margin-right: 0;
    margin-left: 0;
  }
}
