@use "../abstracts" as *;

.projects {
  max-width: rem(400);

  @include supports(display, grid, $copy: true) {
    grid-template-columns: repeat(auto-fill, minmax(min(rem(350), 100%), 1fr));
    gap: rem(30);
    max-width: rem(1158);
  }
}

.projects > * + * {
  margin-top: rem(40);

  @include supports(display, grid) {
    margin-top: unset;
  }
}

.projects__card {
  overflow: hidden;

  @include supports(display, grid, $copy: true) {
    grid-template-columns: repeat(auto-fit, minmax(min(rem(300), 100%), 1fr));
  }

  @include prefers-motion {
    transition: background-color var(--transition-base),
      color var(--transition-base);
  }

  @include hover {
    background-color: var(--peach);
    color: var(--white);

    .projects__title {
      color: inherit;
    }

    .projects__image {
      transform: scale(1.025);
    }
  }
}

.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(32);
  text-align: center;
}

.projects__image {
  width: 100%;

  @include prefers-motion {
    transition: transform var(--transition-base);
  }
}

.projects__title {
  margin-bottom: rem(15);
  color: var(--peach);
}

.projects__description {
  text-transform: none;
}
