@use "../abstracts" as *;

.wrapper {
  @include breakpoint-up("very-small") {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: rem(1440);
  }
}

.wrapper::after,
.wrapper::before {
  @include breakpoint-up("very-small") {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("/svg/bg-pattern-leaf.svg");
    width: 100%;
    height: 100%;
    content: "";
  }
}

.wrapper--home::after,
.wrapper--home::before {
  background-position: top rem(310) left;
}

.wrapper--home::before {
  transform: rotate(180deg);
}

.wrapper--sub-page {
  background-position: top rem(135) left;
}

.wrapper--about::after {
  background-position: top rem(320) left;
}

.wrapper--about::before {
  background-position: bottom rem(912) right rem(-396);
}
