@use "../abstracts" as *;

$-card-border-radius: rem(15);

.card {
  display: block;
}

.card--rounded {
  border-radius: $-card-border-radius;
}

.card--rounded\@tiny {
  @include breakpoint-up("tiny") {
    border-radius: $-card-border-radius;
  }
}

.card--peach {
  background-color: var(--peach);
  color: var(--white);
}

.card--hero {
  background-image: url("/svg/bg-pattern-hero-home.svg"),
    url("/images/home/image-hero-phone.png");
  background-position: center left, bottom rem(-425) center;
  padding: var(--space-l) var(--space-3xs) rem(457);
  text-align: center;

  @include breakpoint-up("very-small") {
    background-position: center right, bottom rem(-245) right rem(-96);
    padding-bottom: var(--space-l);
    text-align: left;
  }
}

.card--call-to-action {
  background-image: url("/svg/bg-pattern-call-to-action.svg");
  background-position: center right;
  background-repeat: repeat-y;
  padding: var(--space-m) var(--space-xs);
  text-align: center;

  @include breakpoint-up("very-small") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.card--navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-color: hsl(0deg 0% 0% / 60%);
  background-blend-mode: overlay;
  padding: rem(90) rem(16);
  height: 100%;
  color: var(--white);
  font-weight: 500;
  letter-spacing: rem(5);
  text-align: center;
  text-transform: uppercase;

  @include prefers-motion {
    transition: background-color var(--transition-base);
  }

  @include hover {
    background-color: hsl(11deg 73% 66% / 60%);
  }
}

.card--web-design {
  background-image: url("/images/home/mobile/image-web-design.jpg");

  @include breakpoint-up("tiny") {
    background-image: url("/images/home/tablet/image-web-design.jpg");
  }

  @include breakpoint-up("very-small") {
    background-image: url("/images/home/desktop/image-web-design-large.jpg");
  }
}

.card--app-design {
  background-image: url("/images/home/mobile/image-app-design.jpg");

  @include breakpoint-up("tiny") {
    background-image: url("/images/home/tablet/image-app-design.jpg");
  }

  @include breakpoint-up("very-small") {
    background-image: url("/images/home/desktop/image-app-design.jpg");
  }
}

.card--graphic-design {
  background-image: url("/images/home/mobile/image-graphic-design.jpg");

  @include breakpoint-up("tiny") {
    background-image: url("/images/home/tablet/image-graphic-design.jpg");
  }

  @include breakpoint-up("very-small") {
    background-image: url("/images/home/desktop/image-graphic-design.jpg");
  }
}
