@use "../abstracts" as *;

$-card-border-radius: rem(15);

.card {
  display: block;
  overflow: hidden;
}

.card--rounded {
  border-radius: $-card-border-radius;
}

.card--rounded\@tiny {
  @include breakpoint-up("tiny") {
    border-radius: $-card-border-radius;
  }
}

.card--peach {
  background-color: var(--peach);
  color: var(--white);
}

.card--light-grayish-peach {
  background-color: var(--light-grayish-peach);
  color: var(--dark-grey);
}
