.circle {
  position: relative;
}

.circle::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("/svg/bg-pattern-small-circle.svg");
  background-position: top left;
  width: 100%;
  height: 100%;
  content: "";
}

.circle--rotate-275deg::after {
  transform: rotate(275deg);
}

.circle--rotate-90deg::after {
  transform: rotate(90deg);
}
